.grid__cell--one\@widescreen {
	display: block;
	width: 97.5%;
}
.grid__cell--one-half\@widescreen {
	width: 47.5%;
}
.grid__cell--one-third\@widescreen {
	width: 30.833333333%;
}
.grid__cell--two-thirds\@widescreen {
	width: 64.166666666%;
}
.grid__cell--one-quarter\@widescreen {
	width: 22.5%;
}
.grid__cell--three-quarters\@widescreen {
	width: 72.5%;
}
.grid__cell--one-fifth\@widescreen {
	width: 17.5%;
}
.grid__cell--two-fifths\@widescreen {
	width: 37.5%;
}
.grid__cell--three-fifths\@widescreen {
	width: 57.5%;
}
.grid__cell--four-fifths\@widescreen {
	width: 77.5%;
}
.grid__cell--one-sixth\@widescreen {
	width: 14.166666666%;
}
.grid__cell--five-sixths\@widescreen {
	width: 80.833333333%;
}
.grid__cell--one-eighth\@widescreen {
	width: 10%;
}
.grid__cell--three-eighths\@widescreen {
	width: 35%;
}
.grid__cell--five-eighths\@widescreen {
	width: 60%;
}
.grid__cell--seven-eighths\@widescreen {
	width: 85%;
}

.grid--no-gutter .grid__cell--one\@widescreen {
	width: 100%;
}
.grid--no-gutter .grid__cell--one-half\@widescreen {
	width: 50%;
}
.grid--no-gutter .grid__cell--one-third\@widescreen {
	width: 33.333333333%;
}
.grid--no-gutter .grid__cell--two-thirds\@widescreen {
	width: 66.666666666%;
}
.grid--no-gutter .grid__cell--one-quarter\@widescreen {
	width: 25%;
}
.grid--no-gutter .grid__cell--three-quarters\@widescreen {
	width: 75%;
}
.grid--no-gutter .grid__cell--one-fifth\@widescreen {
	width: 20%;
}
.grid--no-gutter .grid__cell--two-fifths\@widescreen {
	width: 40%;
}
.grid--no-gutter .grid__cell--three-fifths\@widescreen {
	width: 60%;
}
.grid--no-gutter .grid__cell--four-fifths\@widescreen {
	width: 80%;
}
.grid--no-gutter .grid__cell--one-sixth\@widescreen {
	width: 16.666666666%;
}
.grid--no-gutter .grid__cell--five-sixths\@widescreen {
	width: 83.333333333%;
}
.grid--no-gutter .grid__cell--one-eighth\@widescreen {
	width: 12.5%;
}
.grid--no-gutter .grid__cell--three-eighths\@widescreen {
	width: 37.5%;
}
.grid--no-gutter .grid__cell--five-eighths\@widescreen {
	width: 62.5%;
}
.grid--no-gutter .grid__cell--seven-eighths\@widescreen {
	width: 87.5%;
}

.grid__cell--offset-zero\@widescreen {
	margin-left: 2.5%;
}
.grid__cell--offset-one-half\@widescreen {
	margin-left: 52.5%;
}
.grid__cell--offset-one-third\@widescreen {
	margin-left: 35.833333333%;
}
.grid__cell--offset-two-thirds\@widescreen {
	margin-left: 69.166666666%;
}
.grid__cell--offset-one-quarter\@widescreen {
	margin-left: 27.5%;
}
.grid__cell--offset-three-quarters\@widescreen {
	margin-left: 77.5%;
}
.grid__cell--offset-one-fifth\@widescreen {
	margin-left: 22.5%;
}
.grid__cell--offset-two-fifths\@widescreen {
	margin-left: 42.5%;
}
.grid__cell--offset-three-fifths\@widescreen {
	margin-left: 62.5%;
}
.grid__cell--offset-four-fifths\@widescreen {
	margin-left: 82.5%;
}
.grid__cell--offset-one-sixth\@widescreen {
	margin-left: 19.166666666%;
}
.grid__cell--offset-five-sixths\@widescreen {
	margin-left: 85.833333333%;
}
.grid__cell--offset-one-eighth\@widescreen {
	margin-left: 15%;
}
.grid__cell--offset-three-eighths\@widescreen {
	margin-left: 40%;
}
.grid__cell--offset-five-eighths\@widescreen {
	margin-left: 65%;
}
.grid__cell--offset-seven-eighths\@widescreen {
	margin-left: 90%;
}
.grid--no-gutter .grid__cell--offset-zero\@widescreen {
	margin-left: 0;
}
.grid--no-gutter .grid__cell--offset-one-half\@widescreen {
	margin-left: 50%;
}
.grid--no-gutter .grid__cell--offset-one-third\@widescreen {
	margin-left: 33.333333333%;
}
.grid--no-gutter .grid__cell--offset-two-thirds\@widescreen {
	margin-left: 66.666666666%;
}
.grid--no-gutter .grid__cell--offset-one-quarter\@widescreen {
	margin-left: 25%;
}
.grid--no-gutter .grid__cell--offset-three-quarters\@widescreen {
	margin-left: 75%;
}
.grid--no-gutter .grid__cell--offset-one-fifth\@widescreen {
	margin-left: 20%;
}
.grid--no-gutter .grid__cell--offset-two-fifths\@widescreen {
	margin-left: 40%;
}
.grid--no-gutter .grid__cell--offset-three-fifths\@widescreen {
	margin-left: 60%;
}
.grid--no-gutter .grid__cell--offset-four-fifths\@widescreen {
	margin-left: 80%;
}
.grid--no-gutter .grid__cell--offset-one-sixth\@widescreen {
	margin-left: 16.666666666%;
}
.grid--no-gutter .grid__cell--offset-five-sixths\@widescreen {
	margin-left: 83.333333333%;
}
.grid--no-gutter .grid__cell--offset-one-eighth\@widescreen {
	margin-left: 12.5%;
}
.grid--no-gutter .grid__cell--offset-three-eighths\@widescreen {
	margin-left: 37.5%;
}
.grid--no-gutter .grid__cell--offset-five-eighths\@widescreen {
	margin-left: 62.5%;
}
.grid--no-gutter .grid__cell--offset-seven-eighths\@widescreen {
	margin-left: 87.5%;
}

.is-hidden\@widescreen {
    display: none;
}
