.grid__cell--1\@tablet {
	display: block;
	width: 97.5%;
}
.grid__cell--1\/2\@tablet {
	width: 47.5%;
}
.grid__cell--1\/3\@tablet {
	width: 30.833333333%;
}
.grid__cell--2\/3\@tablet {
	width: 64.166666666%;
}
.grid__cell--1\/4\@tablet {
	width: 22.5%;
}
.grid__cell--3\/4\@tablet {
	width: 72.5%;
}
.grid__cell--1\/5\@tablet {
	width: 17.5%;
}
.grid__cell--2\/5\@tablet {
	width: 37.5%;
}
.grid__cell--3\/5\@tablet {
	width: 57.5%;
}
.grid__cell--4\/5\@tablet {
	width: 77.5%;
}
.grid__cell--1\/6\@tablet {
	width: 14.166666666%;
}
.grid__cell--5\/6\@tablet {
	width: 80.833333333%;
}
.grid__cell--1\/8\@tablet {
	width: 10%;
}
.grid__cell--3\/8\@tablet {
	width: 35%;
}
.grid__cell--5\/8\@tablet {
	width: 60%;
}
.grid__cell--7\/8\@tablet {
	width: 85%;
}

.grid--no-gutter .grid__cell--1\@tablet {
	width: 100%;
}
.grid--no-gutter .grid__cell--1\/2\@tablet {
	width: 50%;
}
.grid--no-gutter .grid__cell--1\/3\@tablet {
	width: 33.333333333%;
}
.grid--no-gutter .grid__cell--2\/3\@tablet {
	width: 66.666666666%;
}
.grid--no-gutter .grid__cell--1\/4\@tablet {
	width: 25%;
}
.grid--no-gutter .grid__cell--3\/4\@tablet {
	width: 75%;
}
.grid--no-gutter .grid__cell--1\/5\@tablet {
	width: 20%;
}
.grid--no-gutter .grid__cell--2\/5\@tablet {
	width: 40%;
}
.grid--no-gutter .grid__cell--3\/5\@tablet {
	width: 60%;
}
.grid--no-gutter .grid__cell--4\/5\@tablet {
	width: 80%;
}
.grid--no-gutter .grid__cell--1\/6\@tablet {
	width: 16.666666666%;
}
.grid--no-gutter .grid__cell--5\/6\@tablet {
	width: 83.333333333%;
}
.grid--no-gutter .grid__cell--1\/8\@tablet {
	width: 12.5%;
}
.grid--no-gutter .grid__cell--3\/8\@tablet {
	width: 37.5%;
}
.grid--no-gutter .grid__cell--5\/8\@tablet {
	width: 62.5%;
}
.grid--no-gutter .grid__cell--7\/8\@tablet {
	width: 87.5%;
}

.grid__cell--offset-zero\@tablet {
	margin-left: 2.5%;
}
.grid__cell--offset-1\/2\@tablet {
	margin-left: 52.5%;
}
.grid__cell--offset-1\/3\@tablet {
	margin-left: 35.833333333%;
}
.grid__cell--offset-2\/3\@tablet {
	margin-left: 69.166666666%;
}
.grid__cell--offset-1\/4\@tablet {
	margin-left: 27.5%;
}
.grid__cell--offset-3\/4\@tablet {
	margin-left: 77.5%;
}
.grid__cell--offset-1\/5\@tablet {
	margin-left: 22.5%;
}
.grid__cell--offset-2\/5\@tablet {
	margin-left: 42.5%;
}
.grid__cell--offset-3\/5\@tablet {
	margin-left: 62.5%;
}
.grid__cell--offset-4\/5\@tablet {
	margin-left: 82.5%;
}
.grid__cell--offset-1\/6\@tablet {
	margin-left: 19.166666666%;
}
.grid__cell--offset-5\/6\@tablet {
	margin-left: 85.833333333%;
}
.grid__cell--offset-1\/8\@tablet {
	margin-left: 15%;
}
.grid__cell--offset-3\/8\@tablet {
	margin-left: 40%;
}
.grid__cell--offset-5\/8\@tablet {
	margin-left: 65%;
}
.grid__cell--offset-7\/8\@tablet {
	margin-left: 90%;
}
.grid--no-gutter .grid__cell--offset-zero\@tablet {
	margin-left: 0;
}
.grid--no-gutter .grid__cell--offset-1\/2\@tablet {
	margin-left: 50%;
}
.grid--no-gutter .grid__cell--offset-1\/3\@tablet {
	margin-left: 33.333333333%;
}
.grid--no-gutter .grid__cell--offset-2\/3\@tablet {
	margin-left: 66.666666666%;
}
.grid--no-gutter .grid__cell--offset-1\/4\@tablet {
	margin-left: 25%;
}
.grid--no-gutter .grid__cell--offset-3\/4\@tablet {
	margin-left: 75%;
}
.grid--no-gutter .grid__cell--offset-1\/5\@tablet {
	margin-left: 20%;
}
.grid--no-gutter .grid__cell--offset-2\/5\@tablet {
	margin-left: 40%;
}
.grid--no-gutter .grid__cell--offset-3\/5\@tablet {
	margin-left: 60%;
}
.grid--no-gutter .grid__cell--offset-4\/5\@tablet {
	margin-left: 80%;
}
.grid--no-gutter .grid__cell--offset-1\/6\@tablet {
	margin-left: 16.666666666%;
}
.grid--no-gutter .grid__cell--offset-5\/6\@tablet {
	margin-left: 83.333333333%;
}
.grid--no-gutter .grid__cell--offset-1\/8\@tablet {
	margin-left: 12.5%;
}
.grid--no-gutter .grid__cell--offset-3\/8\@tablet {
	margin-left: 37.5%;
}
.grid--no-gutter .grid__cell--offset-5\/8\@tablet {
	margin-left: 62.5%;
}
.grid--no-gutter .grid__cell--offset-7\/8\@tablet {
	margin-left: 87.5%;
}

.is-hidden\@tablet {
    display: none;
}
